body {
  background-color: aliceBlue;
  font-family: Verdana;
  text-align: center;
}

input {
  border-radius: 2px;
  text-align: center;
  width: 50px;
}

.settings {
  display: block;
  background-color: CornflowerBlue ;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttons-holder {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  background-color: BurlyWood;
}

.button {
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.all-tiles {
  display: flex;
  flex-flow: row wrap;
  background-color: darkCyan;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.tile {
}

.tile.hidden {
  background-color: darkOrange;
}

.tile.toGuess {
  background-color: blue;
}

.tile.hidden:hover {
  background-color: darkCyan;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: darkCyan;
  }

  50% {
    background-color: darkOrange;
  }

  100 {
    background-color: darkCyan;
  }
}

.tile.correct {
  background-color: lime;
}

.tile.wrong {
  background-color: red;
}
