.tile {
  width: 400px;
  height: 400px;
}

.tile.hidden{
  background-color: blue;
}

.tile.correct{
  background-color: green;
}

.tile.wrong{
  background-color: red;
}

.tile {
  width: 100px;
  height: 100px;
}

.all-tiles{
  width: 600px;
  height: 600px;
  background-color: gray;
}
